@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  margin: 0px;
}
.container{
    width: 80%;

    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(2,1fr 2fr);
    row-gap: 10px;
    column-gap: 10px;
}
.box{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.box:nth-child(1){
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}